.layout-default {
  @apply max-w-screen-lg mx-auto mt-4;
}

.font-default {
  @apply text-zinc-100 select-text selection:bg-zinc-100;
}

.header {
  @extend .layout-default, .font-default;
  @apply w-full text-center;

  .title {
    @apply text-3xl font-extrabold font-mono select-none;
  }
}

.main {
  @extend .layout-default, .font-default;
  @apply max-w-screen-lg px-4;

  .subtitle {
    @apply w-full p-3 rounded-xl
      font-bold md:text-2xl select-none;

    .serviceUrl {
      @apply inline-block
       font-mono text-rose-500 font-bold;
    }
  }

  .inputWrapper {
    @apply w-[calc(100%-1rem)] mx-2
      inline-flex justify-evenly items-center;

    .textInput {
      @apply w-[calc(100%-3.5rem)] p-3 rounded-xl leading-4 border
        font-medium text-lg text-zinc-900/90 outline-none bg-zinc-300
      selection:bg-zinc-600 selection:text-zinc-100
        placeholder:italic placeholder:font-light;
    }

    .copyButton {
      @apply w-max h-max p-3 border rounded-full
        text-center;

      &Enabled {
        &:hover {
          @apply bg-rose-500 cursor-wait;
        }
      }

      &Disabled {
        &:hover {
          @apply bg-zinc-500 cursor-not-allowed;
        }
      }
    }
  }

  .textsWrapper {
    @apply w-full p-3;

    .textChanged {
      @apply inline-block font-medium text-lg underline underline-offset-2
        selection:text-zinc-800;
    }

    .invalidUrl {
      @apply text-red-600 font-extrabold underline;
    }
  }

  .descriptionWrapper {
    @apply px-6 py-2;

    .description {
      @apply p-2 border-l-4 border-zinc-500 
      italic font-serif text-sm;
    }
  }
}
